html, body {
  margin:0px;
  height: 100%;
  width: 100%;
}

button:hover {
  cursor: pointer;
}

.App {
  text-align: center;
  font-family: 'Arsenal', sans-serif !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* home page styling */
#home {
  background-color: #6B8A81;
  color: white;
  width: 100vw;
  height: 100vh;
}

#homeHeader {
  font-size: 90px;
  padding-top: 5rem;
  padding-bottom: 3rem;
  text-align: center;
  letter-spacing: 0.1em;
}

#homeContainer {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 250px;
  justify-content: center;
}

/* Class List styling */
.classContainer {
  display: grid;
  grid-template-rows: 20% 80%;
  background: #516E73;
  color: white;
  border: 1px solid #a0a096;
  width: 400px;
  border-radius: 20px;
  padding: 10px 30px;
  font-family: 'Arsenal', sans-serif !important;
  box-shadow: 0px 4px 4px 0px #00000040;
}

#listHeader {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  font-weight: 500;
  font-size: 35px;
}

#listHeader div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#listHeader button {
  background-color: transparent;
  border: none;
}

.classList {
  display: grid;
  max-height: 350px;
  grid-template-rows: auto;
  row-gap: 5px;
  overflow:scroll;
  margin-bottom: 1rem;
}

/* item in class list styling */
#classItem {
  min-height: fit-content;
  height: 50px;
  line-height: 50px;
  padding-left: 15px;
  margin-right: 25px;
  font-size: 30px;
  border-radius: 20px;
  border: white solid 0.5px;
  text-align: left;
}

#classItem img {
  float: right;
}

#classItem img:hover{
  cursor: pointer;
}

/* Calendar styling */
.react-calendar {
  width: 550px;
  height: fit-content;
  /* max-width: 100%; */
  background: #516E73;
  border: 1px solid #a0a096;
  line-height: 2em;
  border-radius: 20px;
  padding: 20px 20px;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  /* min-width: 44px; */
  background: none;
  color: white;
  font-weight: 500;
  font-size: 35px;
  text-transform: lowercase;
  font-family: 'Arsenal', sans-serif !important;
}
.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__days {
  height: 350px;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: lowercase;
  font-size: 1.5em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
  color: white;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}
/* .react-calendar__month-view__days__day--weekend {
  color: #d10000;
} */
.react-calendar__month-view__days__day--neighboringMonth {
  color: #8AA2A6 !important;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  /* min-height: 100%; */
  padding: 10px 6.6666666666667px;
  background: none;
  text-align: center;
  /* line-height: 1em; */
  color: white;
  border: white solid 1px !important;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #bad2d6;
}
/* .react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
} */
/* .react-calendar__tile--hasActive {
  background: #76baff;
} */
/* .react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
} */
.react-calendar__tile--active {
  background: white;
  color: #516E73;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: white;
  color: #516E73;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

/* add popup styling */
.add-section {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #CAD2C5;
  border: 1px solid white;
  width: 400px;
  height: 350px;
  border-radius: 20px;
  padding-top: 2em;
  box-shadow: 0px 4px 4px 0px #00000040;
  font-family: 'Arsenal', sans-serif !important;
}

.add-section-div {
  text-align: left;
  margin: 1em auto 1em 10%;
  color: #627068;
}

.add-field {
  font-size: 30px;
  font-weight: 500;
  width: 80%;
  padding: 10px 10px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #6C736F;
  color: #49524d;
  font-family: 'Arsenal', sans-serif;
}

.add-field:focus {
  outline: none;
}

.add-section-div select {
  color: #49524d;
}

.add-field ::placeholder {
  color: #6C736F;
}

.button-wrapper {
  display: block;
  height: fit-content;
  text-align: right;
  margin-right: 50px;
}

.add-button {
  width: 100px;
  height: 50px;
  border: 2px solid white;
  border-radius: 10px;
  background: #B7CCA9;
  color: white;
  font-size: 30px;
  font-weight: 500;
}

/* delete popup styling */
.delete-section {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #F7CBC8;
  border: 1px solid white;
  width: 400px;
  padding-right: 20px;
  padding-bottom: 15px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.delete-classes-list {
  display: grid;
  max-height: 350px;
  grid-template-rows: auto;
  row-gap: 5px;
  overflow: scroll;
  list-style: none;
  font-size: 30px;
  font-weight: 500;
  color: #627068;
  text-align: left;
  line-height: 1.5em;
}

.classes-list-item input {
  transform: scale(1.5);
}

.classes-list-item label {
  margin-left: 10px;
}

.delete-button {
  width: 120px;
  height: 50px;
  border: 2px solid white;
  border-radius: 10px;
  background: #EBA3A7;
  color: white;
  font-size: 30px;
  font-weight: 500;
}


::placeholder {
  color: white;
}

.login-background {
  background-color: #97BA9E;
  min-width: 100vw;
  min-height: 120vh;
}

.login-title {
  font-size: 40px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.login-section {
  width: 40%;
  height: 80%;
  margin: auto;
}

.signin-input-fields {
  font-size: 24px;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  color: white;
  border-color: white;
  outline: none;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.login-buttons {
  width: 100%;
}

.login-button {
  float: right;
  width: 150px;
  height:30px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid white;
  border-radius: 10px;
  background: transparent;
  color: white;
  font-size: 16px;
}

.student-meeting-screen {
  width: 100vw;
  height: 100vh;
}

.student-vid-half {
  float: left;
  width: 50%;
  height: 100%;
}

.student-question-half {
  overflow-y: auto;
  float:right;
  width: 50%;
  height: 100%;
  background-color: #FEC5BB;
  color: white;

}

.student-question-box {
  width: 80%;
  height: 80px;
  background-color: #F8EDEB;
  margin: auto;
  border-radius: 10px;
  position: relative;
  margin-bottom: 20px;
}

.upvote-count {
  position: absolute;
  right: 35px;
  bottom: -35px;
  height: 64px;
  margin: auto;
  color: #7D8597;
}

.student-ask-box {
  width: 80%;
  height: 64px;
  background-color: #F8EDEB;
  margin: auto;
  border-radius: 10px;
  border: none;
  color: #7D8597;
  font-size: 16px;
  padding: 10px;
}

.student-ask-box::placeholder {
  color: #7D8597;
  font-size: 16px;
}

.student-ask-button {
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid white;
  color: white;
  background-color: #E8A598;
  margin-left: 400px;
  width: 80px;
  height: 50px;
  font-size: 24px;
  text-align: center;
}

